{% extends 'base.html.twig' %}

{% block contenu %}
    <h1>Pizza creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('pizza_index') }}" class="btn btn-info" role="button">Back to the list</a>
        </li>
    </ul>
{% endblock %}
