<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PizAioli{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('./css/main.css')}}"
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <header>
            <h1>PIZ'AIOLI</h1>
        </header>
        {% block contenu %}{% endblock %}
        <footer class="footer">
            <div class="container">
            <p>Copyright-fondespierre/beWeb</p>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
