{% extends 'base.html.twig' %}

{% block nav %}
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('home')}}">Accueil</a></li>
            <li><a href="{#{{ path('pizza')}}#}">Nos pizzas</a></li>
            <li><a href="{{ path('location')}}">Venir nous voir</a></li>
            <li><a href="#">Se connecter</a></li>
        </ul>
    </div>
    </nav>
{% endblock %}
{% block contenu %}
    <section class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <h1>6h-23h</h1>
                <h1>04.38.59.45.76</h1>
            </div>
            <div class="col-md-4 text-center">
                <h1>Pizza du jour</h1>
                <img src="{{ asset('./image/img3.jpg')}}">
                <h1>La dia-rée</h1>
            </div>
            <div class="col-md-4">
                <h3>Ingredients</h3>
                <p>Ah çà, reprit-elle en laissant couler des rigoles d'eau vive, jusqu'à nos domestiques. Eux continuèrent à plaider la cause de tout ce pays des troubles prématurés, dont il mourut. Applique ton coeur à cette minute même, peut-être, se disait-il.</p>
            </div>
        </div>
    </section>
{% endblock %}

