{% extends 'base.html.twig' %}

{% block nav %}
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
                <ul class="nav text-center">
                    <li class="col-lg-3"><a href="{{ path('home')}}">Accueil</a></li>
                    <li class="col-lg-3"><a href="{#{{ path('pizza')}}#}">Nos pizzas</a></li>
                    <li class="col-lg-3"><a href="{{ path('location')}}">Venir nous voir</a></li>
                    <li class="col-lg-3"><a href="#">Se connecter</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block contenu %}
    <section>
        <div class="row thumbnail">
            <div class="col-md-4 text-center Degrade">
                <h1>6h-23h</h1>
                <h1>04.38.59.45.76</h1>
            </div>
            <div class="col-md-4 text-center white">
                <h1>Pizza du jour</h1>
                <img src="{{ asset('./image/img3.jpg')}}">
                <h1>La dia-rée</h1>
            </div>
            <div class="col-md-4 Degrade1">
                <h3>Ingredients</h3>
                <p>Ah çà, reprit-elle en laissant couler des rigoles d'eau vive, jusqu'à nos domestiques. Eux continuèrent à plaider la cause de tout ce pays des troubles prématurés, dont il mourut. Applique ton coeur à cette minute même, peut-être, se disait-il.</p>
            </div>
        </div>
    </section>
{% endblock %}

