{% extends 'base.html.twig' %}
{% block nav %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('home')}}">Accueil</a></li>
                <li><a href="#">Nos pizzas</a></li>
                <li><a href="{{ path('location')}}">Venir nous voir</a></li>
                <li><a href="#">Se connecter</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5770.8795411389865!2d4.139494074359516!3d43.68061996648121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b69dd7cd98f5cd%3A0xe7a098d0683864f9!2sLa+Fringale!5e0!3m2!1sen!2sfr!4v1485169222044" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
