{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block contenu %}
    <section>
        <div>
            <h2>username</h2>
            <h2>mot de passe</h2>
            <h3>se souvenir de moi</h3>
        </div>
    </section>
{% endblock %}