/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 févr. 2017, 14:47:15
    Author     : alexandre-brunet
*/
$textColor: black;
$hoverText: red;
$headerColor: #19c519;
$footerColor: #bd0e0e;
$borderColor: #000;
