/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 févr. 2017, 14:48:13
    Author     : alexandre-brunet
*/
@import "color";


footer{
    background-color:$footerColor;
    text-align: center;
    border-top: solid 1px $borderColor;
    color: white;
}
