@import "footer";
@import "header";
@import "color";
@import "command";


h1{
    margin-top: 0px;
}


.border{
    border: 2px solid black;
}
.border2{
    border: 1px solid black;
    margin-left: 40px;
    margin-right: 40px;
}
